
<header class="container">
    <nav class="navbar navbar-default tm-navbar">
        
        <button class="btn btn-success navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            
        <div class="tm-loggo navbar-header">
            <h1>TAG-MSG</h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav tm-navbar-nav navbar-right">
                <li class="nav tm-nav"><a [routerLink]="['/inbox']" href="">inbox</a></li>
                <li class="nav tm-nav"><a [routerLink]="['/outbox']" href="">outbox</a></li>
            </ul>
        </div>
        <!--<div class="new-msg-box"><a [routerLink]="['/msg']" href="">new msg</a></div>
            -->
    </nav>
</header>
<main class="container">
    <div>
        <msg-widget></msg-widget>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<footer class="container">
</footer>

