#header{
	padding-top:50px;
	width:inherit;
	background:#424242;
	background-image:url('assets/bgimg1.jpg');
	background-position:55% 50%;
	background-attachment: fixed;
	z-index:1;
	height:700px;
	
}

#header_content{
	padding-top:50px;
	height:inherit;
	width:60%;
	margin-left:20%;
}

#slogan{
	width:inherit;
	padding-left:50px;
	padding-right:50px;
	text-align:center;
}

#slogan h2{
	font-size:50px;
}
#slogan p{
	font-size:30px;
}


/* register*/
#register{
	height:32px;
}

#register_form{
	height:inherit;
}

#username{
	font-size:30px;
	font-family:helvetica;
	border-style:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}


.enter_button{
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-style:none;
	background:#42ddaa;
	color:#ffffff;
    font-size: 30px;   
}

.enter_button:hover{
    cursor: pointer;
}